@import url('https://fonts.googleapis.com/css2?family=Poly:wght@400&family=Satoshi:wght@400;&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font styles */
body {
  font-family: 'Satoshi', sans-serif; /* Default font for the body */
}

/* Additional font classes */
.font-poly {
  font-family: 'Poly', sans-serif;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}
